footer {
  background-color: #f8f8f8;
  margin-top: 1000px;
  height: 350px;
}

.footerFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoFooter {
  width: 69px;
  height: 58px;

  margin-top: 32px;
}

.redes {
  text-align: center;
  margin-top: 48px;
}

.facebookLogo {
  height: 48px;
  width: 48px;
  color: black;
}

.instagramLogo {
  height: 48px;
  width: 48px;
  margin-left: 32px;
  color: black;
}

.wppLogo {
  height: 48px;
  width: 48px;
  margin-left: 32px;
  color: black;
}

.footerText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 32px;
  color: #28241b;
}
